---
import Layout from "@/layouts/Layout.astro"
import NavBar from "@/components/NavBar.astro"
import Title from "@/components/Title.astro"
import Avatar from "@/components/Avatar.astro"
import SideLeft from "@/components/SideLeft.astro"
import SideRight from "@/components/SideRight.astro"
import Footer from "@/components/Footer.astro"
import Card from "../components/Card.astro"

import { title, label } from "@cv"
---

<Layout title={title}>
	<main id="main">
		<NavBar />
		<div id="content" class="content">
			<div class="wrapper">
				<Avatar />
				<Title title={title} help={label} />
				<div class="contentMain">
					<SideLeft />
					<SideRight />
				</div>
				<Footer />
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: calc(100% - 2rem);
		color: #333;
		font-size: 20px;
		line-height: 1.6;
		background-color: #f0f0f0;
		box-shadow: inset 0 0 10px #000000;
		font-family: Arial, sans-serif;
		font-family: "Courier New", Courier, monospace;
		border-radius: 8px;
		height: 100%;
		width: 100%;
		overflow: hidden;
		-webkit-animation: blinking 0.5s linear;
		-moz-animation: blinking 0.5s linear;
		-o-animation: blinking 0.5s linear;
		animation: blinking 0.5s linear;
	}

	@-webkit-keyframes blinking {
		0% {
			background-color: #333;
			color: #f0f0f0;
			opacity: 0;
		}
		100% {
			background-color: #f0f0f0;
			color: #333;
			opacity: 1;
		}
	}

	.content {
		height: 80%;
		width: 95%;
		margin-top: 2rem;
		overflow: auto;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.wrapper {
		display: flex;
		flex-flow: row wrap;
		text-align: center;
		width: 80%;
	}
	.wrapper > * {
		flex: 1 100%;
	}

	.contentMain {
		display: flex;
		flex-flow: row wrap;
		text-align: left;
	}

	/* Scrollbar */
	.content::-webkit-scrollbar {
		width: 10px;
		margin-right: 10px;
	}
	.content::-webkit-scrollbar-track {
		background: #f0f0f0;
		border: 2px solid #333;
	}
	.content::-webkit-scrollbar-thumb {
		background: #333;
	}
</style>

<script>
	const content: Element | null = document.getElementById("content")
	if (content) {
		content.addEventListener("scroll", event => {
			const content: Element | null = document.getElementById("content")
			if (content) {
				content.animate(
					{
						opacity: ["0", "1"]
					},
					1000
				)
			}
		})
	}
</script>
