---
import CardInfoListEducation from "@/components/CardInfoListEducation.astro"
import CardInfoListWork from "@/components/CardInfoListWork.astro"

import { education, certificates, work } from "@cv"
---

<div style="flex: 4 0px;">
	<h3>FORMACIÓN ACADÉMICA</h3>
	<CardInfoListEducation list={education} />
	<h3>FORMACIÓN COMPLEMENTARIA</h3>
	<CardInfoListEducation list={certificates} />
	<h3>EXPERIENCIA LABORAL</h3>
	<CardInfoListWork list={work} />
</div>
