---
import CardInfo from "./CardInfo.astro"
---

<div style="flex: 2 0px;">
	<CardInfo title="Title" details="Details" />
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<p>
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
</div>
