---
import CardInfoList from "@/components/CardInfoList.astro"

import { education, certificates, work } from "@cv"
---

<div style="flex: 4 0px;">
	<CardInfoList title="Title" subtitle="subtitle" list={education} />
	<CardInfoList title="Title" subtitle="subtitle" list={certificates} />
	<CardInfoList title="Title" subtitle="subtitle" list={work} />
</div>
